{% extends 'base.html' %}
{% block content %}
<div class="bembos-card">
    <h2>Nuestra Carta <a href="{% url 'ver_carrito' %}" style="float: right; background: #F3D05C; padding: 10px; border-radius: 4px; text-decoration:none; color:black;">🛒 Ver Bolsa</a></h2>
    <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
        {% for prod in productos %}
        <div style="border: 1px solid #D1D5DB; padding: 15px; border-radius: 8px;">
            <h3>{{ prod.nombre }}</h3>
            <p>{{ prod.descripcion }}</p>
            <h2>S/ {{ prod.precio }}</h2>
            <a href="{% url 'agregar_al_carrito' prod.id %}" style="display:block; text-align:center; background:#002FA7; color:white; padding:10px; text-decoration:none;">Añadir</a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}