{% extends 'base.html' %}
{% block titulo_pantalla %}Crear una Cuenta{% endblock %}

{% block content %}
<div class="bembos-card" style="max-width: 400px; margin: auto;">
    <h2 style="text-align: center; color: #002FA7;">Únete a Bembos</h2>
    <p style="text-align: center; color: #718096; margin-bottom: 25px;">Regístrate para hacer tus pedidos online.</p>
    
    <form method="POST" action="{% url 'registro' %}">
        {% csrf_token %}
        <div class="form-group">
            <label>Nombre de Usuario</label>
            <input type="text" name="username" class="form-control" required placeholder="Ej: vicentdev">
        </div>
        <div class="form-group">
            <label>Correo Electrónico</label>
            <input type="email" name="email" class="form-control" required placeholder="correo@ejemplo.com">
        </div>
        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" name="password" class="form-control" required>
        </div>
        
        <button type="submit" class="btn-submit" style="width: 100%; margin-top: 10px; font-size: 16px;">Crear Cuenta</button>
    </form>
    
    <div style="text-align: center; margin-top: 20px;">
        <a href="{% url 'login' %}" style="color: #4BA3E3; text-decoration: none; font-weight: bold;">¿Ya tienes cuenta? Inicia Sesión</a>
    </div>
</div>
{% endblock %}